@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    list-style: none;
}

:root {
    --main-color: #d9faf2;
    --secondary-color: #fdbc9b;
    --grey-color: #d1d1d11f;
}

body {
    min-height: fit-content;
    display: grid;
    grid-template-rows: 2fr ;
    grid-template-columns: 2.5fr 10fr;
    grid-template-areas: 
    "nav header"
    "nav main";
}


nav {
    grid-area: nav;
    background-color: var(--main-color);
    padding-left: 20px;
}



nav > h1 {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    padding-left: 5px;
}

nav > ul {
    height: fit-content;
    font-size: 20px;
    display: grid;
    gap: 10px;
    padding-bottom: 60px;
}

ul > li {
    display: grid;
    grid-template-columns: 15% 85%;
    font-weight: bold;
    padding: 5px;
}

nav > ul > img {
    background-size: 24px;
    background-color: white;
}

main > img {
    width: 50px;
    height: 50px;
}

header {
    grid-area: header;
    display: grid;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}



.upper-header {
    display: grid;
    grid-template-columns: 5fr 1.7fr;
    grid-template-areas: 
    "form right-upper";
    align-self: center;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.right-upper-header > img + img {
    width: 50px;
    height: 50px;
}

form > img {
    align-self: center;
}

.lower-header {
    padding-left: 30px;
}

.right-upper-header > h1 {
    font-size: 16px;
}

form {
    display: grid;
    grid-area: form;
    grid-template-columns: 0.2fr 3fr;
}

form > input {
    width: 90%;
    border-radius: 10px;
    border: none;
    height: 30px;
    background-color: rgba(211, 211, 211, 0.486);
}

.right-upper-header {
    grid-area: right-upper;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 
    "notification avatar name";
}

.right-upper-header > img,
.right-upper-header > h1 {
    align-self: center;
    justify-self: center;
}

.notification {
    grid-area: notification;
}

.avatar {
    grid-area: avatar;
}

.right-upper-header > h1 {
    grid-area: name;
}

.lower-header {
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img div new-button upload-button share-button";
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

.lower-header > img {
    width: 80px;
    height: 80px;
    grid-area: img;
}

.lower-header > div {
    grid-area: div;
    display: grid;
    align-self: center;
    align-items: center;
    height: 80px;
}

.lower-header > div > h2 {
    font-size: 15px;
    padding-top: 20px;
}

.lower-header > div > h1 {
    font-size: 25px;
    padding-bottom: 15px;
}

.lower-header > button {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
    margin-right: 15px;
}

#new-button {
    grid-area: new-button;
}

#upload-button {
    grid-area: upload-button;
}

#share-button {
    grid-area: share-button;
    margin-right: 0px;
}

button:hover {
    background-color: var(--secondary-color);  
}

main {
    grid-area: main;
    padding-left: 20px;
    padding-top: 30px;
    background-color: var(--grey-color);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap:20px;
    height: fit-content; 
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 0.2fr 0.2fr 0.2fr;
    gap: 20px; 
}

#projects > h1 {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#trending {
    grid-area: trending;
}

#projects > article {
    border-left: 10px solid var(--secondary-color);
    background-color: white;
    border-radius: 10px;
    height: 235px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "content content"
    " ...... icons";
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#projects > article > h1 {
    align-self: end;
    grid-area: title;
}

#projects > article > p {
    grid-area: content;
}

.icons {
    grid-area: icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#projects > article > img {
    justify-self: center;
}


#announcements {
    grid-area: announcements;
    display: grid;
    grid-template-rows: 0.3fr 3fr;
    padding-right: 20px;
    gap: 20px;
}

#announcement-div {
    border-radius: 10px;
    background-color: white;
    padding: 40px;
    display: grid;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#announcements > article {
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

#announcement-div > article > p {
    font-size: 15px;
}

#announcement-div > article > h1 {
    font-size: 15px;
}

#trending {
    display: grid;
    grid-template-rows: 0.3fr 3fr;
    padding-right: 20px;
    gap: 20px;
}

#trending-div {
    display: grid;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: fit-content;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#trending-div > section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profile-icon handle"
    "profile-icon name";
    align-items: center;
    max-height: 50px;
}

#trending-div > section > h1 {
    align-self: end;
    grid-area: handle;
    font-size: 15px;
}

#trending-div > section > h2 {
    align-self: flex-start;
    grid-area: name;
    font-size: 15px;
    font-weight: normal;
}

#trending-div > section > img {
    grid-area: profile-icon;
    width: 50px;
    height: 50px;
}

p {
    color:rgb(75, 75, 75)
}